@model Cart
@{
    ViewData["Title"] = "Index";
}

<section id="content">

    <!-- shop section start -->
    <section id="cart" class="container">

        <!-- row start -->
        <div class="row">

            <!-- cart contents start -->
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th class="qtycolumn">Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td><img alt="" class="img-responsive product-thumb" src="~/images/products/tn/@item.Product.Image"></td>
                                    <td><a href="#">@item.Product.ProductName</a></td>
                                    <td>@item.Product.Price.ToString("c")</td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" class="form-control" value="@item.Quantity" min="1" step="1">
                                        </div>
                                    </td>
                                    <td>@((item.Quantity * item.Product.Price).ToString("c"))</td>
                                    <td>
                                        <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                                            <input type="hidden" name="ProductId" value="@item.Product.ProductId" />
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                Remove
                                                <i class="fa fa-times fa-fw"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        

                        </tbody>

                    </table>

                </div>

                <div class="text-right">
                    <a href="#" class="btn btn-default"><i class="fa fa-refresh fa-fw"></i> Update Cart</a>
                </div>

            </div>
            <!-- cart contents end -->
            <!-- cart total start -->
            <div class="col-md-4">
                <div class="text-left">
                    <h4>CART <b>TOTALS</b></h4>
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Cart Subtotal</th>
                            <td>@Model.TotalPrice().ToString("c")</td>
                        </tr>
                        <tr>
                            <th>Shipping</th>
                            <td>Free</td>
                        </tr>
                        <tr>
                            <th>Order Total</th>
                            <td class="ordertotal">@Model.TotalPrice().ToString("c")</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-left fa-fw"></i>Alışverişe Devam Et</a>
                    <a asp-controller="Cart" asp-action="Checkout" class="btn btn-primary btn-lg">Checkout <i class="fa fa-arrow-circle-right fa-fw"></i></a>
                    
                </div>

            </div>
            <!-- cart total end -->


        </div>
        <!-- row end -->

    </section>
    <!-- shop section end -->

</section>

